html {
    background: url(images/pattern-background-desktop.svg) top center repeat-x;
    background-size: fill;
    background-color: #e0e8ff;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.main-space {
    flex: 1 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 30rem;
    height: 45rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.hero-img {
    height: 100%;
    width: 100%;
}

.card-content {
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.summary-header {
    font-size: 2rem;
    font-weight: 900;
    /* top | right | bottom | left */
    padding: 2rem 0 0 0;
    color: hsl(223, 47%, 23%);
}

.card-text {
    text-align: center;

}
.card-text > div {
    line-height: 1.5;
    width: 20rem;
    color: hsl(224, 23%, 55%);
}

.card-plan-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .5rem;
    height: 5rem;
    width: 23.75rem;
    background-color: hsl(225, 100%, 98%);
}
.cpp-music-icon {
    background-repeat: no-repeat;
}
.cpp-changelink > a {
    font-weight: 700;
    color: blue;
}
.cpp-changelink > a:hover {
    text-decoration: none;
    color: hsl(263, 68%, 61%);
}

.cpp-annual {
    width: 10rem;
    padding-bottom: 1rem;
}
.cpp-annual :first-child {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    padding: .5rem 0;
}

.cpp-annual :nth-child(2) {
    color: hsl(224, 23%, 55%);
}
.card-pay-button > div {
    color: white;
    padding: 1.125rem 7rem;
    background-color: hsl(245, 75%, 52%);
    border-radius: .5rem;
    font-weight: 700;
}

.card-pay-button div:hover {
    background-color: hsl(263, 68%, 61%);
    cursor: pointer;
}

.card-cancel {
    /* top | right | bottom | left */
    padding: 1rem 0 2rem 0;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

.card-cancel:hover {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    cursor: pointer;
}
@media screen and (max-width: 395px) {
    .card {
        width: 20rem;
        height: 35rem;
    }

    html {
        background: url(images/pattern-background-mobile.svg) top center no-repeat ;
        background-size: 200%;
        background-color: #e0e8ff;
    }

    .summary-header {
        font-size: 1.3rem;
    }
    .card-pay-button > div {
        padding: 1.25rem 3rem;
        font-weight: 700;
    }
    .card-text > div {
        width: 17rem;
        
    }

    .card-plan-price {
        height: 5rem;
        width: 16rem;
    }
    .cpp-annual {
        width: 6rem;
        font-size: .9rem;
    }
    .cpp-changelink > a {
        font-weight: 700;
        font-size: .9rem;
    }
    
}
/* || footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}